#container {
  max-width: 800px;
  margin: 20px auto;
  font-family: sans-serif;
}

.row {
  display: flex;
}

img {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: calc((100% / 3) * 2);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-weight: 500;
}
